@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    background-color: #343a40;
    color: #ffffff;
    font-family: 'orbitron';
    
}
.calculator {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #212529;
    border-radius: 10px;
}
.calculator .display {
    height: 60px;
    background-color: #000000;
    color: #ffffff;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.calculator button {
    margin:5px;
}

